.imageCropper {
  width: 72px;
  height: 72px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  border: 0.2rem solid white;
  background: white;
  margin: 0 0.8rem;
}

.userImage {
  display: inline;
  margin: 0 auto;
  height: auto;
  width: 100%;
  vertical-align: middle;
}
