.cardRecipeContainer {
  width: 140px;
  height: 97px;
  overflow: hidden;
  margin: 0.5rem;
  border-radius: 5px;
}

.cardRecipeContainer > img {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) {
  .cardRecipeContainer {
    width: 172px;
    height: 119px;
  }
}
