.cardRecipeImage {
  width: 140px;
  height: 97px;
  object-fit: cover;
  border-radius: 5px;
  margin: 0.5rem;
}

@media screen and (min-width: 768px) {
  .cardRecipeImage {
    width: 172px;
    height: 119px;
  }
}
