.recipesContainer {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipesContainer > h1 {
  align-self: flex-start;
  margin-left: 1rem;
  font-size: 2.5rem;
  font-weight: 600;
}

.recipesFilters {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .recipesContainer {
    margin-left: 6.875rem;
  }
  .recipesContainer > h1 {
    margin-left: 2rem;
  }
  .recipesFilters {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 3rem;
  }
}
