.searchbar {
  margin: 1rem 0;
}

.searchbar > input {
  background: rgba(255, 202, 211, 0.3);
  backdrop-filter: blur(3px);
  border-radius: 3px;
  border: 0;
  padding: 0.7rem;
  width: 15.438rem;
}

.searchbar > input::placeholder {
  color: var(--dark-pink-icon);
}

.searchbar > input:focus {
  border: 0;
  outline: 0;
}

@media screen and (min-width: 768px) {
  .searchbar > input {
    width: 23.438rem;
  }
}
